*{padding: 0;
    margin: 0;}
    body{
        background-color: #f0efed;
    }
    .nav{
        min-width: 320px;
        width: 100%;
        height:2.5rem;
        display: -webkit-box;
        background-image: linear-gradient(135deg, #FFD000 0%, #FFBD00 100%);
        /* max-width: 16rem; */
        overflow: hidden;
    }

    .nav_left{
        width: 25%;
        height:2.5rem;
        /* background: magenta; */
        /* float: left; */
    }
    .nav_left  a{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 0.8rem;
        text-align: center;
        line-height: 2rem;
        text-decoration: none;
        color: black;
        /* margin-left: 0.5rem; */
        
    }
    .nav_left a img{
        width:0.6rem;
        height: 0.3rem;
    }

    .nav_search{
        width:55%; 
        height:2rem;
        /* background-color: red; */
    }
    .nav_search a{
        width: 100%;
        height: 75%;
        display: block;
        background-color: #fff;
        border-radius: 5px;
        margin: auto;
        margin-top: 0.4rem;
        position: relative;

    }
    .nav_search a img{
        position: absolute;
        width: 0.6rem;
        height: 0.6rem;
        left: 3%;
        top: 20%;
    }
    .nav_right{
        width: 20%;
        height: 2rem;
        /* background-color: tan; */
        position: relative;
    }
    .nav_right a img{
        width: 1rem;
        display: block;
        height:1rem;
        position: absolute;
        top: 30%;
        left: 50%;
    }
    .download{
        min-width: 320px;
        width: 100%;
        height:2.5rem;
        display: -webkit-box;
        /* position: relative; */
        background:#000;
        /* max-width: 16rem; */
        overflow: hidden;
        position: relative;
        /* min-width: 16rem; */
        overflow: hidden;
    }
    .download div{
        color: white;
        line-height: 2.5rem;
        
    }
    .download .click{
        height: 1.5rem;
        width: 18.75%;
        background-color: orange;
        position: absolute;
        left: 75%;
        top: 12%;
        border-radius: 10px;
        font-size: 0.6rem;
        text-align: center;
        line-height: 1.5rem;
        color: black;
    }
    .banner{
        width: 100%;
        height:8rem ;
        background-color: #fff;
        min-width: 320px;
      
    }
    .banner ul li {
        float: left;
        width: 20%;
        height: 3.5rem;
        list-style: none;
        text-align: center;
        line-height: 2.5rem;
        margin-top: 0.7rem;
        box-sizing: border-box;
    } 
   .banner ul li img{
        width: 1.5rem;
        height: 1.5rem;
        line-height: 2.5rem;
        margin-top: 12%;
    }
    .littleBox{
        width: 2rem;
        height:2rem;
        background-color: blue;
        border-radius: 50%;
        margin-left: 10%;
    }
    .banner ul li p{
        width: 2.5rem;
        font-size: 0.5rem;
        color: black;
        position: absolute;
        margin-top: -0.5rem;
    }
 
    .like{
        min-width: 320px;
        width: 100%;
        /* height: 3rem; */
        background-color: white;
        margin-top: 5%;
    }
 .like .head{
     width: 90%;
     height: 2rem;
     /* background-color: yellow; */
     margin: auto;
     font-size: 0.8rem;
 }
 .like .sell{
     width: 100%;
     min-height: 4rem;
     /* background: purple; */

 }
 .like .sell .goods{
     width: 100%;
     height: 5rem;
     border-bottom: 1px solid #CCC;
     box-sizing: border-box;
 }
 .like .sell .goods .goodsLeft{
    width: 30%;
    height: 100%;

    float: left;
    text-align: center;
  
   
 }
 .like .sell .goods .goodsLeft img{
     width: 80%;
     height: 80%;
     margin-top: 5%;
     
 }

 .goodsRight span:nth-child(1){
     color: #f60;
     font-size: 0.7rem;
     
 }
 .goodsRight{
     width: 70%;
     height: 100%;

     float: left;
     position: relative;
 }
 .goodsRight p{
     font-size: 0.8rem;
 }

 .goodsRight p:nth-child(1){
    font-size: 0.7rem;
}
 .goodsRight p:nth-child(2){
    font-size: 0.5rem;
}
.goodsRight .discount{
    position: absolute;
    top: 70%;
    width:100%;
}
.goodsRight .discount span:nth-child(2),.goodsRight .discount span:nth-child(3),.goodsRight .discount span:nth-child(4){
    font-size: 0.5rem;
}
.goodsRight .discount span:nth-child(4){
    margin-top: 4%;
    float: right;
}
.showOther{
    width: 100%;
    height: 1.5rem;
    font-size: 0.8rem;
    color:#FFC100;
}

footer{
    min-width: 320px;
    width: 100%;
    background: white;
}
.footerHead{
    
    width: 90%;
    margin: auto;
    height: 3rem;
    position: relative;
}

.footerHead a{
    width: 34.375%;
    background:#FFC100 ;
    text-decoration: none;
    color: #000;
    border-radius: 7px;
    font-size: 0.5rem;
    padding:0.3rem 0.7rem;
    
}

.footerHead span{
    font-size: 0.5rem;
    position: absolute;
    right: 0;
    top: 30%;
}

.footerNav{
    width: 100%;
    height: 2rem;
}
.footerNav span{
    font-size: 0.6rem;
}
.footerNav span:first-child{
    margin-left: 20%;
}
.footerNav span:nth-last-child(1n){
    color: #FFC100;
}
.footerLink{
    width: 80%;
    height: 3rem;
    margin: auto;
}

.footerLink a, .footerLink span{
    float: left;
    text-decoration: none;
    font-size: 0.5rem;
    margin-left: 7%;
    color: rgb(188,188,188);

}
.footerLast{
    height: 1rem;
    width: 90%;
    /* background: #ccc; */
    margin: auto;
}
.footerLast .hr{
    width: 20%;
    height: 1px;
    background-color: #ccc;
    float: left;
    margin-top: 0.3rem;
}
.footerLast .span{
    font-size: 0.5rem;
    float: left;
    display: block;
    height:1rem ;
}
a{
    text-decoration: none;
    
}
.sell a p,.sell a span{
color: black;
}
